@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSANSExpanded.woff);
}

body {
  font-family: iransans !important;
  /* direction: rtl !important; */
  min-width:350px;
  background-color: #f5f5f5;
}
.collection-item p{
  direction: rtl ;
}
.card-action a{
  color:#03a9f4 !important;
}
.tab-inside{
  border-radius: 10px !important  ;
}
.local-nav-title {
  font-size: 20px;
  padding-right: 20px;
}
p,h1,h2,h3,h4,h5,h6,span,a,li{
  direction: rtl;
}
.container{
  margin-top:30px !important;
}


.local-nav-items-large {
  display: block !important;
}

.local-nav-items-small {
  display: none !important;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer,
  body {
    padding-right: 0;
  }
  .local-nav-items-large {
    display: none !important;
  }
  .local-nav-items-small {
    display: block !important;
  }
}
/* TABS */
.indicator{
  background-color: #0277bd !important;
}
.tab a{
  color:#0277bd !important;
}
.tab a:hover,.tab a:active{
  color:#01579b !important;
}

#search{
  font-size:50px;
  height: 70px;
  direction: rtl;
  margin-top: 40px;
}